{% extends 'base.html.twig' %}

{% block title %}Les Argonautes{% endblock %}

{% block body %}
<!-- Main section -->
<main>
  
  <!-- New member form -->
  <div class="mt-5">
  <h2>Ajouter un(e) Argonaute</h2>
    <form action="/" method="post" class="new-member-form form-inline d-flex justify-content-center ">
        <label for="name">Nom de l&apos;Argonaute</label>
        <input id="name" name="name" type="text" class="form-control ml-3" placeholder="Charalampos" required/>
        <button type="submit" class="btn btn-primary btn-sm ml-3">Envoyer</button>
    </form>
  </div>
  
  <!-- Member list -->
  <h2>Membres de l'équipage</h2>
  <section class="member-list my-5">
    <div class="row">
        {% for equipage in equipages %}
        <div class="col-12 col-md-4 text-center">
            <div class="member-item">{{ equipage.name }}</div>
        </div>
        {% endfor %}
    </div>
  </section>
</main>
{% endblock %}

{% block javascripts %}{% endblock %}