<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="404, page 404, not found, page non trouvée">
		<meta name="keywords" content="404, page 404, not found, page non trouvée">
		<meta name="robots" content="noindex, nofollow">
		<meta name="author" content="Ferrero Franck">
		<title>Oups !! 404 page non trouvée</title>
		<link rel="icon" type="image/png" sizes="64x64" href="/images/favicon.png">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" href="/default/css/fonts.min.css">
		<link rel="stylesheet" href="/default/css/custom.min.css">
		<!--[if lt IE 9]> <script src="/js/html5shiv.js"></script> <![endif]-->
	</head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-404 text-center">
                        <div class="container">
                            <div class="p-5">
                                <img src="/default/images/404.png" class="img-fluid" alt="page 404">
                            </div>
                        </div>
                        <h1 class="oups">Oups !!</h1>
                        <h1 class="number">Page 404</h1>
                        <h2>La page que vous avez demandée est introuvable.</h2>
                        <div class="mt-5">
                            <a href="/" class="btn btn-success">
                                <span class="fa fa-undo mr-2"></span>Retour au site
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>